

/*.registration1{width: 1016px;margin: 0 auto;}
.registration2{width: 1016px;margin: 0 auto;}
.registration2_1{float: left;position: relative;padding-bottom: 47px;}
.registration2_01{
	width: 1016px;
 	overflow: hidden;
    clear: both;
    background: oldlace;
    padding-bottom: 6px;}
.registration2_01_1{
	width: 505px;
    height: auto;
    float: left;
    overflow: hidden;}*/
